extends layout
block head
    style
          #wrap{
            width: 1110px; margin: 0 auto;
            overflow: hidden;;
          }
          #gameDiv{
            width: 650px;
            height: 490px;
            float: left;
          }
          #scoreDiv{
            width: 400px;
            height: 200px;
            float: left;
          }
          #eventDiv{
                  width: 645px;
                  height: 200px;
                  float: left;
          }
          #chatDiv
          {
                        width: 400px;
                        height: 290px;
                        float: left;
          }
          #gameStart{
                margin-top: 50px;
                margin-left: 0px;
                height: 100px;
                width: 200px;
          }
    script
      Real.Room.init({roomName:'#{roomName}',onJoinUser:function(dat){
          console.log('join:');
          console.log(dat);
          Real.Chat.onUserJoin(dat);
          Real.Score.onUserJoin(dat);
          Real.Game.onUserJoin(dat);
      },onLeaveUser:function(dat){
          console.log('leave:'+dat);
          Real.Chat.onUserLeave(dat);
          Real.Game.onUserLeave(dat);
          Real.Score.onUserLeave(dat);
      }});
      Real.Score.init({ roomName:'#{roomName}',renderTo:'#scoreDiv', nameTitle:'이름', scoreTitle:'점수'});
      Real.Event.init({ roomName:'#{roomName}',renderTo:'#eventDiv'});
      Real.Chat.init({renderTo:'#chat', roomName:'#{roomName}', width:'400', height:'230'});
      Real.Game.init({ roomName:'#{roomName}'});
      $(function(){
         $('#sendScore').click(function(){
            Real.Score.sendScore($('#score').val());
         });
         $('#sendEvent').click(function(){
            Real.Event.sendEvent($('#name').val(), $('#event').val());
         });
         $('#gameStart').click(function(){
            Real.Game.sendEvent('LetMeStart', true);
            Real.Event.sendEvent('','게임이 시작되었습니다!:')
         });

      });

block content

  h1= title
  div(id='wrap')
      div(id='gameDiv')
           div(class='cocos2d-app')
            script(src='/build/bird_catch/init.js', type='text/javascript')
      div(id='scoreDiv')
      div(id='chatDiv')
        div(id='chat')
      div(id='eventDiv')
      input(type='button',class='gradationBlue1',id='gameStart',value='Game Start!')
      input(type='button',class='gradationBlue1',id='gameStart',value='Leave Room!')
